body {
    margin: 0;
    background-color: #1C1C1C;
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    
}

#input-container {
    background-color: #6E0D59;
    color: white;
    width: 550px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: none;
    box-sizing: border-box;
}

input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
    color: white;
    text-align: center;
    font-family: inherit;
    font-weight: 750;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }
  textarea:focus, input:focus{
    outline: none;
}
h1 {
    font-size: 28px;
    font-weight: 800;
    margin-top: 50px;
}
#user-input {
    font-size: 58px;
    background-color: #6E0D59;
    border: 2px solid #FBBCED;
    border-radius: 5px;
    width: 110px;
    margin: 20px auto;
}
#input-btn {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    width: 110px;
    margin: 10px  auto 30px auto;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

h2 {
    font-size: 20px;
    color: #FBBCED;
    font-weight: 500;
}

p {
    font-size: 14px;
    color: white;
}

#output-container {
    background-color: #2C1627;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 550px;
    height: 70vh;
    margin: 0 auto;
}
.conversion-container {
    background-color: #432E3E;
    border-radius: 3px 0 0 0;
    width: 400px;
    padding: 10px 30px;
    margin: 35px auto;
}

@media only screen and (max-width: 600px) {
    #input-container {
        width: 100vw;
    }
    .conversion-container {
        width: 300px;
    }
    #output-container {
        width: 100vw;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 15px;
    }
    p {
        font-size: 12px;
    }
    
}